.devlog {
  .centered-content {
    width: 41vw;
    background-color: white;
    height: 95vh;
    padding: 4.625rem 11.3125rem !important;
    position: relative;
    top: 36px;
    overflow: scroll;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
}
