.home {

  .navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 125px;
    padding-top: 16px;

    .links {
      display: inline-flex;
      position: relative;
      top: 6px;
      margin-right: 100px;

      a {
        margin-left: 60px;
        text-decoration: none;
        box-shadow: none;
        font-family: "Roboto";
        color: ivory;
        font-size: 18px;
        letter-spacing: 1.2px;
        font-weight: 500;

        &:hover, &:focus {
          box-shadow: 0 1px 0 0 currentColor;
        }
      }
    }

    .social {
      display: inline-flex;
      margin-right: 7em;
    }


    .icon-button {
      background-color: transparent;
      border-radius: 3.6rem;
      cursor: pointer;
      display: inline-block;
      font-size: 2.0rem;
      line-height: 3.6rem;
      margin: 2em 5px;
      position: relative;
      text-align: center;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      width: 1.2em;
      margin-left: 1.2rem;

      &:first-of-type {
        margin-left: 3rem;
      }
    }


    /* Circle */
    .icon-button span {
        border-radius: 0;
        display: block;
        height: 0;
        left: 50%;
        margin: 0;
        position: absolute;
        top: 50%;
        -webkit-transition: all 0.3s;
           -moz-transition: all 0.3s;
             -o-transition: all 0.3s;
                transition: all 0.3s;
        width: 0;
    }
    .icon-button:hover span {
        width: 3.6rem;
        height: 3.6rem;
        border-radius: 3.6rem;
        margin: -1.8rem;
    }
    .twitter span {
        background-color: #4099ff;
    }
    .github span {
        background-color: #24292e;
    }
    .discord span {
      background-color: #8697F6;
    }

    /* Icons */
    .icon-button svg {
      background: none;
      left: 6px;
      font-size: .8em;
      position: absolute;
      top: -12px;
      width: 28px;
      z-index: 10;
        -webkit-transition: all 0.3s;
           -moz-transition: all 0.3s;
             -o-transition: all 0.3s;
                transition: all 0.3s;
    }
    .icon-button .icon-twitter {
        color: #4099ff;
    }
    .icon-button .icon-discord {
        color: #8697F6;
    }
    .icon-button .icon-github {
        color: whitesmoke;
    }
    .icon-button:hover svg {
        color: white;
    }
  }


  .header {
    justify-content: center;
    display: flex;
    padding: 23vh 0 3vh;

    h1 {
      margin: 0;
      color: #d6d0d9;
      font-family: "Draconis Regular";
      letter-spacing: 5px;
      text-rendering: geometricprecision;
      font-size: 4.3em;
      font-weight: 100;
      text-shadow: 6px 6px #272623;
    }
  }

  .logo-container {
    display: flex;
    justify-content: center;
    padding-top: 5vh;

    .logo-circle {
      background: linear-gradient(rgba(0,0,0,0.7), rgba(43,17,56, 0.23));
      padding: 3em 4em;
      border-radius: 999px;
      position: relative;
      width: 350px;
      height: 350px;
      z-index: -2;

      img.gray-flames {
        position: absolute;
        z-index: -1;
        width: 695px;
        top: -18px;
        left: 3px;
        opacity: 0.2;
        filter: grayscale(105%);
      }

      img.game-logo {
        width: 180px;
        position: absolute;
        top: 102px;
        right: 92px;
      }
    }
  }

  .coming-soon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 136px;

    h2 {
      color: lavender;
      font-family: "Revans Medium";
      font-size: 36px;
      letter-spacing: 4px;
      font-weight: 800;
      text-rendering: geometricPrecision;
    }

    img {
      width: 200px;
    }
  }
}
