.home {
  .header {
    justify-content: center;
    display: flex;
    padding: 23vh 0 3vh;

    img { width: 600px; }
    h1 {
      margin: 0;
      color: #d6d0d9;
      font-family: "Draconis Regular";
      letter-spacing: 5px;
      text-rendering: geometricprecision;
      font-size: 4.3em;
      font-weight: 100;
      text-shadow: 6px 6px #272623;
    }
  }

  .logo-container {
    display: flex;
    justify-content: center;
    padding-top: 5vh;

    .logo-circle {
      background: linear-gradient(rgba(0,0,0,0.7), rgba(43,17,56, 0.23));
      padding: 3em 4em;
      border-radius: 999px;
      position: relative;
      width: 350px;
      height: 350px;
      z-index: -2;

      img.gray-flames {
        position: absolute;
        z-index: -1;
        width: 695px;
        top: -18px;
        left: 3px;
        opacity: 0.2;
        filter: grayscale(105%);
      }

      img.game-logo {
        width: 180px;
        position: absolute;
        top: 102px;
        right: 92px;
      }
    }
  }

  .coming-soon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 136px;

    h2 {
      color: lavender;
      font-family: "Revans Medium";
      font-size: 36px;
      letter-spacing: 5px;
      font-weight: 800;
      text-rendering: geometricPrecision;
    }

    img {
      width: 200px;
    }
  }
}
