.newsletter-modal {
  margin: auto;
   position: absolute;
   top: 0; left: 0; bottom: 0; right: 0;

  .overlay {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 10;
    top: 0;
  }

  .modal {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkslateblue;
    height: 60vh;
    width: 40vw;
    z-index: 11;
    margin: 23vh auto 0;
    flex-wrap: wrap;
    color: blanchedalmond;

    .modal-header {
      width: 100%;
      text-align: center;
    }

    .modal-body {
      width: 100%;
      height: 300px;
      text-align: center;

      p {
        font-size: 22px;
        position: relative;
        top: -33px;
      }

      label {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        input {
          margin-top: 10px;

          &.error { border-color: red; }
          &.success { border-color: teal; }
        }


        .screen-reader-text {
          width: 100%;
          font-weight: 900;
          color: snow;
        }
      }
      
    }
    button {
      margin-top: 49px;
      position: relative;
      z-index: 10;
      color: #000;
      background-color: moccasin;
      height: auto;
      width: auto;
      border: none;
      font-size: 25px;
      cursor: pointer;
      top: auto;
      padding: 1px 15px;
    }

    .back-home-logo {
      justify-content: center;
      display: flex;
      position: relative;
    }
  }
}
